/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*-------------------------- Botones -------------------------------*/

.btnEditar {
    border: none;
    color: white;
    background-color: #0e374e;
}

.btnCargar {
    border: none;
    color: white;
    background-color: #08506e;
}

.btnGuardar {
    border: none;
    color: white;
    background-color: #206c8e;
}

.btnDetalles {
    border: none;
    color: white;
    background-color: #478aae;
}

.btnEliminar {
    border: none;
    color: white;
    background-color: #C70039;
}

.btnRegresar {
    border: none;
    color: white;
    background-color: #000015;
}

.btnGuardarExcel {
    border: none;
    color: white;
    background-color: #23A77B;
}

.btnGray {
    border: none;
    color: white;
    background-color: #7D7D7D;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #69aace;
}

/*-------------------------- Títulos -------------------------------*/

/* Titulos */
.titulo {
    color: #08506e;
}

.subtitulo {
    color: #206c8e;
}

.spanTitulos {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
}


/*********************/

.iconoInput {
    color: white;
    font-size: 5%;
    position: absolute;
    left: 8%;
    padding-top: 2.3%;
}

.inputPadding {
    padding-left: 30%;
}

/********** Desabilitar Contenido***********/

.desabilitarContenido {
    pointer-events: none;
    opacity: 0.7;
}

/********** Select Editable ***********/

.select-editable {
    position: relative;
    background-color: white;
}

    .select-editable select {
        position: absolute;
        margin: 0;
    }

    .select-editable input {
        position: absolute;
        width: 90%;
    }

        .select-editable select:focus, .select-editable input:focus {
            outline: none;
        }

/********** Notificaciones ***********/

.badge {
    position: center;
    padding: 3px 6.5px;
    border-radius: 50%;
    background: red;
    color: white;
}

/**********************/
